<div id="test2" class="text-center">
  <%= link_to 'back to my shoes', root_path -%><br>
  <%= image_tag(@user_shoe.image_url(:small)) %>
  <table>
    <tr>
      <th>Model</th>
      <th>Brand</th>
      <th>Color</th>
    </tr>
    <tr>
      <td><%= @user_shoe.shoe.model %></td>
      <td><%= @user_shoe.shoe.brand %></td>
      <td><%= @user_shoe.shoe.color %></td>
    </tr>
  </table>
  <%= link_to '<button>check in</button>'.html_safe, shoe_check_ins_path(@user_shoe), method: :post %><br>
  <%= link_to '<button>delete</button>'.html_safe, shoe_path(@user_shoe), method: :delete %>
</div>
