<%- if !current_user.nil? -%>
  <h2>My Shoes</h2>
  <%= link_to 'Add New Shoes', new_shoe_path %><br>
<%- else -%>
  <h2>All Shoes</h2>
<%- end -%>

<%- if !@shoes.empty? -%>
  <table class="small-6">
    <tr>
      <th>Model</th>
      <th>Brand</th>
      <th>Color</th>
    </tr>
    <%- @shoes.each do |shoe| -%>
      <tr>
        <td><%= shoe.model %></td>
        <td><%= shoe.brand %></td>
        <td><%= shoe.color %></td>
        <td><%= link_to 'delete', shoe_path(shoe), method: :delete %></td>
      </tr>
    <%- end -%>
  </table>
<%- end -%>
