<%- if !current_user.nil? -%>
  <h2>My Shoes</h2>
  <%= link_to 'Add New Shoes', new_shoe_path %><br>
<%- else -%>
  <h2>All Shoes</h2>
<%- end -%>

<%- if !@userShoes.empty? -%>
  <table class="small-8">
    <tr>
      <th>Model</th>
      <th>Brand</th>
      <th>Color</th>
      <th>Total Check-ins</th>
      <th>Last Check-in</th>
    </tr>
    <%- @userShoes.each do |userShoe| -%>
      <tr>
        <td><%= userShoe.shoe.model %></td>
        <td><%= userShoe.shoe.brand %></td>
        <td><%= userShoe.shoe.color %></td>
        <td><%= userShoe.check_ins.count %></td>
        <td><%= userShoe.check_ins.pluck(:date).last %></td>
        <td><%= link_to 'check in', shoe_check_ins_path(userShoe), method: :post %></td>
        <td><%= link_to 'delete', shoe_path(userShoe), method: :delete %></td>
      </tr>
    <%- end -%>
  </table>

  <%= calendar do |date| %>
    <%= date.day %>
  <%- end -%>

<%- end -%>
