<%- if !current_user.nil? -%>
  <div class='text-center'>
    <h2>My Shoes</h2>
    <%= link_to 'Add New Shoes', new_user_shoe_path %><br>
  </div>

  <%- if !@user_shoes.empty? -%>
    <div class="small-12 small-centered columns">
      <table>
        <tr>
          <th class="small-2">Image</th>
          <th class="small-1">Total Check-ins</th>
          <th class="small-1">Last Check-in</th>
          <th></th>
          <th></th>
        </tr>
        <%- @user_shoes.each do |user_shoe| -%>
          <tr id="shoe row">
            <td><%= image_tag(user_shoe.image_url(:small)) if user_shoe.image? %><br>
            <%= user_shoe.shoe.model %>
            <%= user_shoe.shoe.brand %>
            <%= user_shoe.shoe.color %></td>
            <td><%= user_shoe.check_ins.count %></td>
            <td><%= user_shoe.check_ins.pluck(:date).last %></td>
            <td><%= link_to 'check in', shoe_check_ins_path(user_shoe), method: :post %></td>
            <td><%= link_to 'delete', shoe_path(user_shoe), method: :delete %></td>
          </tr>
        <%- end -%>
      </table>
    </div>

    <!-- <%= calendar do |date| %>
      <%= date.day %>
    <%- end -%>
  <%- end -%> -->

<%- else -%>
  <h2>Welcome to Shoe Tracker</h2>
<%- end -%>
