<h2>Add New Shoes</h2>
<%= link_to 'Back to My Shoes', root_path %>

<div class="small-4">
  <%= form_for @shoe do |f| %>
    <%= f.label :model %>
    <%= f.text_field :model %>
    <%= f.label :brand %>
    <%= f.text_field :brand %>
    <%= f.label :color %>
    <%= f.text_field :color %>

    <%= fields_for @shoe.user_shoes do |f| %>
      <%= f.file_field :image %>
    <%- end -%>

    <%= f.submit 'Submit' %>
  <%- end -%>
</div>
