<div class="small-4">
  <%= form_for @user_shoe do |f| %>
    <%= fields_for @shoe do |ff| %>
      <%= ff.label :model %>
      <%= ff.text_field :model %>
      <%= ff.label :brand %>
      <%= ff.text_field :brand %>
      <%= ff.label :color %>
      <%= ff.text_field :color %>
    <% end %>

    <%= f.file_field :image %>
    <%= f.submit 'Submit' %>
  <%- end -%>
</div>
