<div id="row-margin-zero" class="row">
  <div class="small-10 medium-4 large-3 small-centered columns text-center">
    <%= form_for @user_shoe do |f| %>
      <%= fields_for @shoe do |ff| %>
        <%= ff.label :model %>
        <%= ff.text_field :model %>
        <%= ff.label :brand %>
        <%= ff.text_field :brand %>
        <%= ff.label :color %>
        <%= ff.text_field :color %>
      <% end %>

      <%= f.file_field :image %>
      <%= f.submit 'Submit', class: "button round" %>
    <%- end -%>
  </div>
</div>
