<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shoe Game</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/flash" %>

  <section class="navigation-section fixed ">
    <div class="row max-width show-for-large-up">
      <div class="full-width-extend large-12 columns">
        <%= render "layouts/top_bar" %>

      </div>
    </div>
  </section>

  <div class="off-canvas-wrap" data-offcanvas>
    <div class="fixed off-canvas-fixed hide-for-large-up"><a class="exit-off-canvas"></a>
      <%= render "layouts/tab_bar" %>
    </div>

    <div class="inner-wrap"><a class="exit-off-canvas"></a>
      <section class="main-section">
        <div class="row max-width">
          <div class="full-width-extend large-12 columns">
            <%= yield %>


          </div>

        </div>
      </section>

    </div>
  </div>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
