<!DOCTYPE html>
<html>
<head>
  <title>Shoe Game</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="off-canvas-wrap fixed" data-offcanvas>
      <div class="inner-wrap">
        <%= render "layouts/header" %>

        <section class="main-section">
          <div class="row fullWidth">
            <div class="small-12 small-centered text-center">
              <%- flash.each do |key, value| -%>
                <div class="flash flash-<%= key %>">
                  <%= value %>
                </div>
              <%- end -%>

              <%= yield %>

            </div>
          </div>
        </section>

      <a class="exit-off-canvas"></a>

      </div>
    </div>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
