<!DOCTYPE html>
<html>
<head>
  <title>Shoe Game</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="responsive-tables.css">
</head>
<body>

    <div class="off-canvas-wrap fixed" data-offcanvas>
      <div class="inner-wrap">
        <%= render "layouts/header" %>

        <section class="main-section">
          <div class="row fullWidth">
            <div class="small-12 small-centered text-center">
              <div class="column">
                  <%- flash.each do |key, value| -%>
                    <div class="flash flash-<%= key %>">
                      <%= value %>
                    </div>
                  <%- end -%>
                  <%= yield %>
              </div>
            </div>
          </div>
        </section>

      <a class="exit-off-canvas"></a>

      </div>
    </div>

  <%= javascript_include_tag 'application' %>
  <script src="responsive-tables.js"</script>
  <%= yield :extra_footer %>
</body>
</html>
